<form method="post" action="/members/<%= @member.id%>">
    <label for="first_name">First Name:</label>
        <input id="first_name" value=<%= @member.first_name%> type="text" name="first_name"/>

    <label for="last_name">Last Name:</label>
        <input id="last_name" value=<%= @member.last_name%> type="text" name="last_name"/>
    
    <label for="age">Age:</label>
         <input id="age" value=<%= @member.age%> type="text" name="age"/>


    <input type="submit" value="Update Member"/>

</form>
    
