<h1>Member Profile:</h1>
    <p>First name: <%= @members.first_name()%></p>
    <p>Last name: <%= @members.last_name%></p>
    <p>Age: <%= @members.age%></p>
    <a href="/members">Back To All Members</a>