<a href="/classes/new">Add New Class</a>

<% for gym_class in @gym_classes%>
    <p>Class Name: <%= gym_class.name%></p>
    <p><a href="/classes/<%= gym_class.id%>/sessions">Show all sessions for this class</a></p>

    <form method="get" action="/gym_classes/<%= gym_class.id%>/edit">
        <input type="submit" value="Update Class"/>
    </form>

    <form method="post" action="/gym_classes/<%= gym_class.id%>/delete">
        <input type="submit" value="Delete Class"/>
    </form>
    <hr/>

<% end%>