<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golds gym</title>
    <link rel ="icon" href="images/1200px-Gold's_Gym_logo.svg.png"/>
    <link rel="stylesheet" type="text/css" href="styles/structure.css"/>
</head>
<body>
        <ul class ="link-div">
            <li class = "link"><a href="/members">Members</a></li>
            <li class = "link"><a href="/gym_classes">Classes</a></li>
            <li class = "link"><a href="/bookings">Bookings</a></li>
        </ul>
    <%= yield %>
</body>
</html>