<a href="/bookings/new">Create New Booking</a>

<h1>All Bookings</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Member name</th>
            <th>Class name</th>
        </tr>
        <hr/>
        <% for booking in @bookings%>
        <% class_name = Gym_class.find(booking.gym_class_id)%>
        
        <tr>
            <td><%= booking.id%></td>
            <td><%= booking.member.first_name%></td>
            <td><%= class_name.name %></td>
            
            <td><form method="post" action="/bookings/<%= booking.id%>/delete">
                    <input type="submit" value="Delete Booking"/>
                </form></td>
        <% end %>
        </tr>
 </table>